/* color variables */
:root {
  --primary-indigo-dark: #152347;
  --light-primary-color: #b1caf8;
  --primary-indigo: #365c9c;
  --primary-text: #212121;
  --secondary-text: #757575;
  --light-text: #ffffff;
  --acent-color: #ee070f;
  --acent-secondary-color: #f0525e;
  --divider-color: #f7f7f7;
  --light-grey: #afaac3;
}

html {
}

body {
  color: var(--primary-indigo-dark);
  box-sizing: border-box;
}

main {
  margin: 0 2rem;
}

h1,
h2,
h3 {
  letter-spacing: 2px;
}

h4 {
  letter-spacing: 1.75;
}

.hero-text {
  line-height: 190%;
  letter-spacing: 1px;
  word-spacing: 1.3px;
}

.header a:link,
.header a:visited {
  text-decoration: none;
  color: var(--primary-indigo-dark);
}

.header a:hover {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--light-text);
  background-color: var(--acent-color);
  box-shadow: 0 1rem 1.5rem #2121219a;
}

.header a:active {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: var(--light-text);
  background-color: var(--acent-color);
  box-shadow: 0 0.5rem 0.5rem #2121219a;
}

.header i {
  height: auto;
  width: 3rem;
  color: var(--acent-color);
}

.name {
  color: var(--primary-indigo-dark);
}

.hero-box {
  background-color: var(--divider-color);
  padding: 1rem 0;
}

/* .photo-wrapper {
  height: 30rem;
  width: auto;
} */

.hero-heading {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
  color: var(--acent-color);
}

.portfolio-picture {
  height: auto;
  margin: 1rem;
  width: 90%;
  border-radius: 5px;
  box-shadow: 0 0.7rem 2rem #2121219a;
}

.specilized-section {
  background-image: linear-gradient(to bottom, #ffffff 50%, #ee070f 50%);
  padding: 0 4rem;
  padding-bottom: 2rem;
  position: relative;
  margin-top: 7rem;
}

.specilized-section i {
  color: #ee070f70;
}

.specilized-section ul {
  list-style: none;
}

.secondary-heading {
  margin-bottom: 1rem;
  margin-top: 3rem;
  font-size: 280%;
  font-weight: 600;
}

.specialized-heading__secondary {
  margin-bottom: 2.5rem;
  position: relative;
  z-index: 1;
  letter-spacing: 1.2px;
  font-weight: 500;
  color: var(--secondary-text);
}

.card {
  box-shadow: 0.5rem 0.5rem 1rem #2121219a;
}

.card i {
  color: var(--acent-secondary-color);
  margin: 1.5rem 0;
}

.icon-one {
  position: absolute;
  left: 13rem;
  top: 6rem;
}

.icon-two {
  position: absolute;
  left: 40rem;
  top: -3rem;
}

.icon-three {
  position: absolute;
  left: 60rem;
  top: 5rem;
  z-index: 0;
}

.icon-four {
  position: absolute;
  left: 78rem;
  top: -4rem;
}

.icon-five {
  position: absolute;
  left: 98rem;
  top: 3rem;
}

.card h4 {
  margin-bottom: 2rem;
}

.card-p-color-change {
  color: var(--acent-secondary-color);
  font-size: 1.4rem;
}

.card-skill-list {
  margin-bottom: 2rem;
}

.card ul {
  margin-bottom: 1.5rem;
}

.card-li {
  margin: 0.65rem 0;
}

.portfolio-section {
  margin-top: 7rem;
}

.project-card {
  margin-top: 2.5rem;
  margin-bottom: 1.5rem;
}

.project-tech {
  font-size: 80%;
}

.skill-set-section {
  background-color: var(--divider-color);
  padding-bottom: 4rem;
}

.skill-set-section h2 {
  margin-top: 7rem;
}

.skill-headings {
  margin-bottom: 5rem;
}
.progress {
  margin: 1.5rem 0;
}

.skill-text {
  margin-left: 1.5rem;
}

.bar-wrapper {
  background-color: var(--light-text);
  padding: 1rem 2.5rem;
  margin: 1rem;
  border-radius: 10px;
  box-shadow: 0.5rem 0.5rem 1rem #2121219a;
}

/* Skill Sets progress bars & Icons */

.progress-bar {
  background: green;
}

.skill-text {
  color: var(--primary-text);
}

/* icons in progress bars */

.fa-js-square {
  color: rgb(240, 240, 47);
}

.progress-bar-js {
  background: rgb(240, 240, 47);
}

.fa-css3-alt {
  color: rgb(120, 199, 248);
}

.progress-bar-css {
  background: rgb(120, 199, 248);
}

.fa-bootstrap {
  color: #7a43b6;
}

.progress-bar-bootstrap {
  background: #7a43b6;
}

.fa-sass {
  color: #f15394;
}

.progress-bar-sass {
  background: #f15394;
}

.fa-github {
  color: #6cc644;
}

.progress-bar-github {
  background: #6cc644;
}

.fa-project-diagram {
  color: #5038b9;
}

.project-bar-sp {
  background: #5038b9;
}

.fa-react {
  color: #00d8ff;
}

.progress-bar-react {
  background: #00d8ff;
}

.mySql-icon {
  color: #f29111;
}

.progress-bar-mySql {
  background: #f29111;
}

.mongodb-icon {
  color: #589636;
}

.progress-bar-mongodb {
  background: #589636;
}

.fa-node {
  color: #6cc24a;
}

.progress-bar-node {
  background: #6cc24a;
}

.express-icon {
  height: 2em;
  width: auto;
}

.contact-photo {
  width: 30rem;
  height: auto;
}

.fa-desktop {
  color: rgb(67, 67, 238);
}

.progress-bar-demo {
  background: rgb(67, 67, 238);
}

.contact-info-section {
  margin-bottom: 3rem;
}

.contact-info-section h2 {
}

.contact-card-info p {
  margin-bottom: 0;
}

.contact-card-heading {
  margin-bottom: 1.5rem;
}

.email i {
  margin-right: 0.7rem;
}

.linkedin i {
  margin-right: 0.7rem;
}

.linkedin a {
  text-decoration: none;
  color: var(--primary-indigo-dark);
}

.github-contact i {
  margin-right: 0.7rem;
}

.github-contact a {
  text-decoration: none;
  color: var(--primary-indigo-dark);
}

.phone-number i {
  margin-right: 0.7rem;
}

.footer-section {
  background-color: var(--acent-secondary-color);
  padding: 1rem 0;
}

/* MEDIA QUERIES */
/* // Extra small devices (portrait phones, less than 576px) */
/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .specilized-section i {
    color: black;
  }
}
/* 
// Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .specilized-section i {
    color: green;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .specilized-section i {
    color: blue;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .specilized-section i {
    color: yellow;
  }
}

/* // Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  ...;
}
